{% extends "template.html" %}
{% block content %}
<div class="content3" id="contentJump">
    <section style="text-align: center;">
        <p style="font-size: 20px;">
            If you wish to contact me, you can reach me by <a href="mailto:contact@hoangbui@@com" onclick="this.href=this.href.replace('@@','.').replace('com','ca')">contact(at)hoangbui(dot)ca</a>
            <br/>
            Below contains links to other account that holds my side projects and information about my work experience
        </p>
        <a class="contactBox" href="https://github.com/Weebian" target="_blank">GitHub</a>
        <a class="contactBox" href="https://www.linkedin.com/in/hoang-b-a9bb11100/" target="_blank">LinkedIn</a>
    </section>
</div>
{% endblock content %}
{% block scripts %}
{% endblock scripts %}