{% extends "template.html" %}
{% block content %}
<section class="content" id="contentJump">
    <h2><i class="fas fa-angle-right"></i> About Me</h2>
    <p>
        I am a third year software engineering student at Carleton University.
        <br/>I enjoy learning new technologies and figuring out ways to apply them. This statement is backed by my side-projects and self studies.
        <br/>Specifically, fields that I am interested in are Security and Automation. Though, I am willing to branch out as there are many opportunities for me to enjoy different types of technologies.
    </p>
</section>
<section class="content">
    <h2><i class="fas fa-angle-right"></i> Location</h2>
    <p>
        I was born in Ottawa ON, Canada. My parents are from Vietnam.<br/>
        Currently, I live in Ottawa.
    </p>
</section>
<section class="content">
    <h2><i class="fas fa-angle-right"></i> Please take a look</h2>
    <p>This site is made to help demonstrate my skills and qualities.<br />I hope you enjoy reading through, and I wish
        you a good day.</p>
</section>
{% endblock content %}